body{
    text-align: center;
    background-color: rgb(175, 175, 175);
}
input{
    color: rgb(88, 88, 88);
    margin-top: 50px;
    width: 90%;
    border: none;
    background-color: rgb(226, 226, 226);
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    border-radius: 8px;
    font-size: 16px;
    transition: 2s;
}
input:hover{
width: 95%;
background-color: darkgray;
color: rgb(36, 36, 36);
}
button{
    font-size: 20px;
    height: 40px;
    width: 90px;
    border: none;
    border-radius: 9px;
    background-color: rgb(192, 192, 192);
    cursor: pointer;
    color: rgb(102, 102, 102);
}